{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Вот что я умею
      </div>
      <div class="card-body">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Python
              </li>
              <li class="list-group-item">
                Django
              </li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <p>
              На этой странице можно рассказать, какие программные инструменты вы применили для создания этого сайта,
              какие навыки вам помогли, с чем вы хорошо разобрались, а с чем — не очень.
              Картинки и нестандартные подходы приветствуются: эта страница может получиться очень интересной.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}